*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 .headermain{
  height: 40px;
  background-color: rgb(172, 213, 249);
  display: flex;

 }



 .headermain div{
  /* border: 2px solid black; */
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
 }

 .hai
 {background-color: blue;
   height: 100px;
   list-style-type: none;
}

.hai li
{
  width: 100%;
  height: 20px;
  background-color: pink;
}


.contentsec
{
  background-color: aliceblue;
  min-height: 100vh;
  padding: 30px;

}
.check
{
  background-color: blue;
  width: 200px;
  height: 200px;
}

.Userspage ul{
  /* list-style-type: none; */

}

.photos
{
  width: 200px;
  height: 200px;
  /* border: 2px solid red; */
  border-radius: 3px;
  margin: 10px;

}

.photos:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photosul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}